body{background-color: #6b6b6b;};
a:hover{color: #fb0909;}
nav a{background-color: #ffffff;}
nav a:hover{background-color: #00ffff;}
p,footer{background-color: #ffffff;
padding: 20px; /*padding is space inside the box*/
border: 3px solid #333333;
margin: 30px;
}
.photo{max-width: 100%;}


.row1 {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
  }
  
  .box1,
  .box2,
  .box3 {
    padding: 10px;
    text-align: center;
  }
  
  /* Media query for screens smaller than 400px */
  @media (max-width: 450px) {
    .row1 {
      flex-direction: column;
    
     }
  }


